.jumbotron
    h1 Get up in our analytics.
    p LowCrow is an analytics suite devoted to delivering the latest trends and data regarding social information

.row
    .col-lg-4
        h2 Twitter.
        p hello hello hello
    .col-lg-4
        h2 Facebook.
        p hello hello hello
    .col-lg-4
        h2 Instagram.
        p hello hello hello