div(ng-controller='HistoryCtrl')
    .row
        .col-5.col-sm-5.col-lg-5
            h3 Scope
            .btn-group
                button.btn.btn-lg.btn-primary(type='button' ng-model='radioModel' btn-radio='"Cairo"') Cairo
                button.btn.btn-lg.btn-primary(type='button' ng-model='radioModel' btn-radio='"London"') London
                button.btn.btn-lg.btn-primary(type='button' ng-model='radioModel' btn-radio='"Moscow"') Moscow
                button.btn.btn-lg.btn-danger(type='button' ng-model='radioModel' btn-radio='"Worldwide"') Worldwide
        .col-4.col-sm-4.col-lg-4
            h3 Date Range
            p.input-group
              input.form-control(type='text', datepicker-popup='{{format}}', ng-model='dts', is-open='openS', min='minDate', max='\'2015-06-22\'', datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close')
              span.input-group-btn
                button.btn.btn-default(ng-click='open($event,openS)')
                  i.glyphicon.glyphicon-calendar
            p.input-group
              input.form-control(type='text', datepicker-popup='{{format}}', ng-model='dte', is-open='openE', min='minDate', max='\'2015-06-22\'', datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close')
              span.input-group-btn
                button.btn.btn-default(ng-click='open($event,openE)')
                  i.glyphicon.glyphicon-calendar
     .row
        h2.text-center Results
        hr
        .col-12.col-sm-12.col-lg-12
            table.table
                thead
                    tr
                        th #
                        th User
                        th Text
                        th Coordinates
                        th Locale
                        th Distance from POI
                tbody
                    tr(ng-repeat='t in tweets | orderBy:"created_at":true | startFrom:currentPage*maxSize | limitTo:maxSize')
                        td {{$index+1}}
                        td {{t.user.screen_name}}
                        td {{t.text}}
                        td {{t.coordinates.coordinates}}
                        td {{t.place.full_name}}
            pagination(total-items='tweets.length' page='currentPage' max-size='7' class='pagination-lg')

