extends layout

block body
    div.navbar.navbar-default.navbar-fixed-top
        div.navbar-header
            a.navbar-brand(href='#') DC Dashboard
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li.active
                    a(href='#') Name Analytics
                li
                    a(href='#') Top Names
                li
                    a(href='#') About
                li
                    a(href='#') Contact   

    div.container(ng-controller='MainCtrl')
        .row
            .col-12.col-sm-12.col-lg-12
                blockquote
                    p {{tweetDisplay}}
                        small {{user}}
            .col-6.col-sm-6.col-lg-6
                a(ng-repeat='t in tweets' href='https://twitter.com/{{t.user.screen_name}}' target='_blank')
                    img(src='{{t.user.profile_image_url}}' ng-mouseover='changeTweetDisplay(t)')
            .col-6.col-sm-6.col-lg-6
                leaflet(width='100%' height='530px' center='dc' markers='markers')

    script(src='js/underscore-min.js')
    script(src='js/angular.min.js')
    script(src='js/angular-route.min.js')
    script(src='http://cdn.leafletjs.com/leaflet-0.7/leaflet.js')
    script(src='js/angular-leaflet-directive.js')
    script(src='js/jquery.js')
    script(src='js/highcharts.js')
    script(src='js/highcharts-ng.min.js')
    script(src='js/socket.io.js')
    script(src='js/socket.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')