!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title DC Dashboard
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7/leaflet.css')
  body
    block body