doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title DC Dashboard
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7/leaflet.css')
  body
    .container
        .masthead(ng-controller='HeaderCtrl')
        h3.text-muted Low Crow
        ul.nav.nav-justified
            li
                a(href='/') Home
            li  
                a(href='/') Services
            li
                a(href='about') About
            li
                a(href='contact') Contact
        block content

    script(src='js/underscore-min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
    script(src='js/angular-route.min.js')
    script(src='http://cdn.leafletjs.com/leaflet-0.7/leaflet.js')
    script(src='js/angular-leaflet-directive.js')
    script(src='js/socket.io.js')
    script(src='js/socket.js')
    script(src='js/app.js')
    script(src='js/controllers.js')